@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0%;
}
.homePage {
	background: #fbeddb;
}
.container {
	width: 100%;
	margin: 0%;
}
.header {
	background: #fbeddb;
	text-align: center;
	margin: 0%;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	

}

a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}	

.nav {
	background: #656d4f;
	margin: 0%;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #fbeddb;
	margin: 0%;
	float: left;
	width: 100%;

	text-align: center;
}
.footer {
	background: #656d4f;
	margin: 0%;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
